<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="LoginSuite" parallel="none">
  <test name="Test">
    <classes>
      <class name="executionScript.TestCase001_LoginCorrectly" />
      <class name="executionScript.TestCase002_LoginIncorrectly" />
      <class name="executionScript.TestCase003_MainPageElements" />
    </classes>
  </test> <!-- Test -->
</suite> <!-- LoginSuite -->
